{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block head %}
{% endblock %}
	<style>
	  .nav-link {
	    font-weight: 400 !important;
		text-shadow: none !important;
		/*color: #d6d6d6 !important;*/
	  }
	  .nav-link:hover {
		color: white !important;
	  }
	  .navbar-brand {
		font-weight: 400 !important;
		text-shadow: none !important;
		font-size: 1.4rem !important;
		color: white !important;
	  }
	  #lang_dropdown {
		padding: .3em .3em !important;
	  }
	</style>
  </head>
  <body>
    <header>
	  <div >
	  <title>{% trans "SFIA Generator" %}</title>
	  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	    <a class="navbar-brand" href="#">{% trans "SFIA Generator" %}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
		  <ul class="navbar-nav mr-auto">
	        <li class="nav-item">
			  <a {% if request.path == '/'%} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'form_page' %}">{% trans "Form Generator" %}</a>
			</li>
	        <li class="nav-item">
			  <a {% if request.path == '/search/'%} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'search_page' %}">{% trans "Skill Search" %}</a>
			</li>
	        <li class="nav-item">
			  <a {% if request.path == '/list/' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{% url 'list_skills_page' %}">{% trans "Browse/Select Skills" %}</a>
			</li>
		  </ul>
		  <ul class="navbar-nav">
			<li class="nav-item">
			  <a class="nav-link" href="/admin/">Staff Login</a>
			</li>
			<li class="nav-item">
			  <form action="{% url 'set_language' %}" method="post">{% csrf_token%}
			    <input type="hidden" name="next" value="{{ redirect_to }}">
			    <select name="language" onchange="this.form.submit();">
				  {% get_available_languages as LANGUAGES %}
				  {% get_language_info_list for LANGUAGES as languages %}
				  {% for language in languages %}
				    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif%}>
					  {{ language.name_local}}
					</option>
				  {% endfor %}
			    </select>
			  </form>
			</li>
	      </ul>
	    </div>
	  </nav>
	  </div>
	</header>
	
  {% block content %}
  {% endblock %}
  </body>
	
</html>