{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <br>
                <h2 class="mt-2">Language Preferences</h2>
                <hr class="mt-0 mb-4">
                <form name='lang_preferences_form' method="post" data-ajax="false">
                    {% csrf_token %}
                    {% include 'messages.html' %}
                    <input id="cb" type="checkbox" name='use_welsh_SFIA_data' {% if global_preferences.Enable_Welsh_SFIA_Skills %} checked {% endif %}>
                    <label for="use_welsh_SFIA_data"> Use Welsh translations of SFIA framework for the Welsh site </label><br>
                    <br>
                    <input id="cb" type="checkbox" name='use_welsh_docx_templates' {% if global_preferences.Enable_Welsh_Docx_Templates %} checked {% endif %}>
                    <label for="use_welsh_docx_templates"> Use Welsh translations of Docx form templates for the Welsh site </label><br>
                    <br>
                    <input id="cb" type="checkbox" name='use_welsh_core_competencies' {% if global_preferences.Enable_Welsh_Core_Competencies %} checked {% endif %}>
                    <label for="use_welsh_core_competencies"> Use Welsh translations of the SFIA core competencies for the Welsh site </label><br>
                    <br>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}